<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script>
            function select_option(req_type) {
                $.ajax({
                    type: 'POST',
                    url: 'http://localhost:5000/receive_request',
                    data: {name: req_type.id},
                });
            }
        </script>
    </head>
<body>
    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
                {% for option in options %}
                    <a onclick="select_option({{option['path']}})" id="{{option['path']}}">{{option['name']}}</a>
                {% endfor %}
            </div>
    </div>
</body>
</html>